.container{
    margin: 65px !important;
}

.box{
    width: 500px;
    height: 400px;
    margin: 60px auto 0;
    background-color: pink;
    text-align: center;
    padding: 35px;
    border: 3px solid black;
    border-radius: 70px 0 70px 0;
}

.heading{
    font-family: cursive;
    color: red;
}