.items{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    background-color: aquamarine;
}
.btns2{
    position: absolute;
    top: 20px;
    right: 10px;
    display: flex;
    color: black;
    height: 10px;
    
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
}